{% extends 'base.html' %}
{% load static %}
{% block page_scripts %}

{% endblock %}
{% block body_block %}
<div class="main-panel">
	
	<div class="input-group">
      <span class="input-group-btn">
      	
      	<div class="result" style="height:150px;">

			<b>SAS_Terrorism_Challenge</b>


<p>Terrorism Challenge for GUTS Hackathon 2014</p>

<p>Our team is going to be building a dynamic visualization, search and data correlation system for international terrorism data.</p>

<p>Collaborators: Anton Belev, Marin Georgiev, Radko Kotev, Tsvetan Yordanov, Petar Yordanov.</p>
	</div>

      </span>      
    </div>
</div>
{% endblock %}